<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
     {{>header}}
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <div class="col-md-6 col-12 main_header_left">
                <img src="images/oliver.jpeg" class="img-fluid" alt="Profile Image">
              </div>
              <div class="col-md-6 col-12 main_header_right">
                <p>I'm a Web Developer</p>
                <h1>Annas Mir</h1>
                <div class="social-links">
                    <a href="https://www.facebook.com/yourfacebookpage" target="_blank" class="social-link"><i class="fab fa-facebook"></i></a>
                  &nbsp; &nbsp; <a href="https://www.instagram.com/yourinstagram" target="_blank" class="social-link"><i class="fab fa-instagram"></i></a>
                  &nbsp;&nbsp;  <a href="https://twitter.com/yourtwitter" target="_blank" class="social-link"><i class="fab fa-twitter"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>